@import url('./variables.css');

.container-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-producto {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.producto-img {
    max-width: 400px;
    height: auto;
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 5/8;
}

.producto-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.producto-titulo {
    margin-bottom: 10px;
}

.producto-descripcion {
    font-size: 16px;
    margin-bottom: 20px;
}

.producto-precio {
    font-weight: bold;
    -webkit-text-stroke: .75px black;
    color: var(--color-dinero);
    margin-bottom: 20px;
}

.botones {
    display: flex;
    gap: 10px;
}

.btn.favoritos {
    background-color: #ff4769;
    color: white;
}

.btn.favoritos:hover {
    background-color: #ea4160;
    color: white;
}

.form-ctrl {
    /* display: block; */
    /* width: 100%; */
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.producto-descripcion{
    min-width: 75%;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .container-producto{
        flex-direction: row;
    }
    
    .producto-info {
        width: 50%;
    }
}