@import url('./variables.css');

.container-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.producto-img {
    max-width: 400px;
    height: auto;
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 5/8;
}

.producto-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    width: 100%;

    * {
        width: 100%;
    }
}

.producto-titulo {
    margin-bottom: 10px;
    font-size: 3rem;
}

.producto-descripcion {
    font-size: 2rem;
    margin-bottom: 20px;
    min-width: 75%;
    width: 100%;
}

.producto-precio {
    font-size: 2rem;
    font-weight: bold;
    -webkit-text-stroke: .75px black;
    color: var(--color-dinero);
    margin-bottom: 20px;
}

.producto-autor, .producto-isbn, .producto-editorial, .producto-fecha-publicacion, .producto-paginas, .producto-genero, .producto-idioma, .producto-categorias, .producto-stock {
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {

    .container-img {
        width: 50% !important;
    }

    .container-producto {
        flex-direction: row;
    }

    .producto-info {
        width: 50% !important;
        text-align: left;

        * {
            width: initial;
        }
    }
}

.botones {
    display: flex;
    gap: 10px;
}

.btn.favoritos {
    background-color: #ff4769;
    color: white;
}

.btn.favoritos:hover {
    background-color: #ea4160;
    color: white;
}

.form-ctrl {
    /* display: block; */
    /* width: 100%; */
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-ctrl.is-invalid,
.was-validated .form-control:invalid {
    border-color: var(--bs-form-invalid-border-color);
    padding-right: calc(1.5em + .75rem);
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/017/172/388/small_2x/warning-message-concept-represented-by-exclamation-mark-icon-exclamation-symbol-in-circle-png.png);
}

.form-ctrl.is-valid,
.was-validated .form-control:valid {
    border-color: var(--bs-form-valid-border-color);
    padding-right: calc(1.5em + .75rem);
    background-image: url(https://cdn.pixabay.com/photo/2016/03/31/14/37/check-mark-1292787_640.png);
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}