@import url('./variables.css');

.navbar.bg-navbar {
    background-color: var(--color-3);
}

.nav-item {
    .nav-link {
        text-align: center;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .nav-item {
        .nav-link {
            text-align: inherit;
            font-size: inherit;
        }
    }
}

form {
    .form-check-input:checked {
        background-color: var(--color-3);
        border-color: var(--color-3);
    }

    .form-check-input:focus {
        border-color: var(--color-4);
        outline: 0;
        box-shadow: 0 0 5px .15rem var(--color-4);
    }
}