* {
    /* Paleta de colores */
    --color-0: #eee;
    --color-1: #60535A;
    --color-2: #80494F;
    --color-3: #516C65;
    --color-4: #9FA87B;
    --color-5: #817E49;
    --color-6: #CECA69;

    --color-dinero: #429945;

}